@font-face {
    font-family: Font1;
    font-display: auto;
    src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.ttf') format('truetype'),
    url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.ttf') format('truetype'),
    url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.ttf') format('truetype'),
    url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Black.ttf') format('truetype');
}

body {
    font-family: Font1, Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
    background-color: black;
}

.background {
    background: url("../images/background.jpg") no-repeat center center;
    height: 1200px;
    width: 1800px;
}

.dash-background {
    background: url("../images/background.jpg") no-repeat center center;
    background-size: cover;
}

.container {
    padding: 1%;
}

.navbar {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    min-width: 2000px;
}

.nav-link {
    padding: 25px;
    margin: 0 15px;

}

.shadow-inner {
    padding: 1%;
    box-shadow: inset 0 0 25em 25em rgba(0, 0, 0, 0.5);
}

.navbar-dark {
    width: 100%;
    background-color: black;
}

.form-group {
    padding: 1%;
}

a,
.btn-success,
.btn-link {
    color: white;
}

.btn-success:hover {
    background: #2ea44f;
}

a:hover,
.btn-link:hover {
    color: #2ea44f;
}

#confirm-pick,
#confirm-pick-dis {
    background-color: orangered;
}

#confirm-pick:hover {
    background-color: #2ea44f;
}

#pick-button,
#pick-button-dis {
    padding: 0;
    border: none;
    background: none;
}

input[type='radio'] {
    border: 1px solid black;
    padding: 0;
}

.form-check-label {
    padding: 0;
}

.league-table {
    border-collapse: separate;
    margin-left: 5%;
    width: 100%;
    text-align: center;
}

.league-table td,
.league-table th,
.league-table caption {
    border: 1px solid white;
}

.league-table tr:nth-child(odd),
.league-table caption {
    text-align: center;
    background-color: black;
    color: white;
}

.league-table tr:nth-child(even) {
    border: 1px solid black;
    background-color: white;
    color: black;
    text-shadow: none;
}

.league-table tr:hover {
    background-color: gray;
}

.league-table th {
    background-color: black;
    color: white;
}

.form-table,
.form-table caption {
    color: white;
    text-align: center;
}

.error-message {
    color: orangered;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}