@font-face {
    font-family: Font1;
    src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.ttf') format('truetype'),
    url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.ttf') format('truetype'),
    url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.ttf') format('truetype'),
    url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Black.ttf') format('truetype');
    /*Local links or files not working?*/
    /*url('../font/Formula1-Regular_web_0.ttf') format('truetype'),*/
    /*url('../font/Formula1-Regular.ttf') format('truetype'),*/
    /*url('../font/Formula1-Display-Regular.woff2') format('woff2'),*/
    /*url('../font/Formula1-Display-Regular.woff') format('woff');*/
    font-display: auto;
}


body {
    font-family: Font1, Arial, Helvetica, sans-serif;
    color: white;
    background: black;
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

* {
    box-sizing: border-box;
}

section {
    float: left;
    width: 50%;
    padding: 25px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.left-side{
    justify-content: left;
}

.right-side{
    justify-content: right;
}


#home-links{
    position:absolute;
    bottom:30px;
    left:10px;
    padding: 10px;
}

a{
    color: white;
}

/*Make custom chequered flag button or get icon*/
button {
    background-image:
            linear-gradient(45deg, #000 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #000 75%),
            linear-gradient(45deg, transparent 75%, #000 75%),
            linear-gradient(45deg, #000 25%, #fff 25%);

    background-size:100px 100px;

    background-position:0 0, 0 0, -50px -50px, 50px 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

ul img {
    height: 50px;
    width: 150px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    vertical-align: baseline;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration-line: underline;
}

.user-table,
.champ-table {
    border-collapse: collapse;
    width: 75%;
}

.user-table td,
.user-table th,
.champ-table td,
.champ-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.user-table tr:nth-child(even),
.champ-table tr:nth-child(even) {
    background-color: black;
    color: white;
}

.user-table tr:nth-child(odd),
.champ-table tr:nth-child(odd) {
    background-color: white;
    color: black;
}

.user-table tr:hover,
.champ-table tr:hover {
    background-color: gray;
}

.user-table th,
.champ-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

#registration-form th {
    /*border: 1px solid #ddd;*/
    padding-right: 10px;
    text-align: left;
}

#registration-form td {
    padding-top: 12px;
}

.error-message {
    color: red;
}