/*@font-face {*/
/*    font-family: Font1;*/
/*    src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.ttf') format('truetype'),*/
/*    url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.ttf') format('truetype'),*/
/*    url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.ttf') format('truetype'),*/
/*    url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Black.ttf') format('truetype');*/
/*    !*Local links or files not working?*!*/
/*    !*url('../font/Formula1-Regular_web_0.ttf') format('truetype'),*!*/
/*    !*url('../font/Formula1-Regular.ttf') format('truetype'),*!*/
/*    !*url('../font/Formula1-Display-Regular.woff2') format('woff2'),*!*/
/*    !*url('../font/Formula1-Display-Regular.woff') format('woff');*!*/
/*    font-display: auto;*/
/*}*/

@font-face {
    font-family: Font1;
    src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.ttf') format('truetype');
    font-display: auto;
}

body {
    font-family: Font1, Arial, Helvetica, sans-serif;
    color: white;
    background: black;
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

button {
    background: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 12px;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: baseline;
    padding: 10px 20px;
    text-decoration: none;
}

button:hover {
    background: #2c974b;
}

button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

section {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#admin-logged {
    float: none;
    width: 40%;
    padding-left: 2%;
}

#admin-users {
    float: left;
    width: 65%;
    padding-left: 2%;
}

#admin-drivers {
    float: left;
    width: 33%;

}

/*.left-side {*/
/*    width: 20%;*/
/*    justify-content: left;*/
/*    padding-left: 15px;*/
/*    padding-right: 50px;*/
/*    !*margin-right: 50px;*!*/
/*}*/

/* FIX DASHBOARD LAYOUT TO SPREAD USER INFO ACROSS TOP WITH TABLES UNDER*/
.left-side {
    float: none;
    display: inline;
}

.center {
    width: 40%;
    justify-content: left;
}

.right-side {
    width: 35%;
    justify-content: left;
}


#home-links {
    position: absolute;
    bottom: 30px;
    left: 10px;
    padding: 10px;
}

a {
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}


ul img {
    height: 50px;
    width: 150px;
}

/*#nav-links{*/
/*    float: left;*/
/*}*/

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    vertical-align: baseline;
    margin-left: 10px;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover {
    text-decoration-line: underline;
}

#add {
    float: right;
}

#update {
    float: right;
}

#update:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

#confirm-pick {
    display: inline;
    margin-right: 20px;
    margin-bottom: 10px;
}

#team-form button {
    margin-top: 10px;
    margin-left: 25px;
}

.dash-text {
    font-weight: bold;
    /*background: white;*/
    /*color: black;*/
    /*padding-left: 5px;*/
    /*padding-right: 50px;*/
}

li button {
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    display: block;
    margin: 10px 20px;
    color: white;
    text-align: center;
    vertical-align: baseline;
    padding: 10px 20px;
    text-decoration: none;
}

.user-table,
.champ-table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 10px;
}

.user-table td,
.user-table th,
.champ-table td,
.champ-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.user-table tr:nth-child(odd),
.champ-table tr:nth-child(odd) {
    background-color: black;
    color: white;
}

.user-table tr:nth-child(even),
.champ-table tr:nth-child(even) {
    background-color: white;
    color: black;
}

.user-table tr:hover,
.champ-table tr:hover {
    background-color: gray;
}

.user-table th,
.champ-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

#registration-form th {
    /*border: 1px solid #ddd;*/
    padding-right: 10px;
    text-align: left;
}

#registration-form td {
    padding-top: 12px;
}

.error-message {
    color: red;
}