<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <link href="/css/general.css" rel="stylesheet" type="text/css"/>
  <title>Admin</title>
</head>
<body>
<header>
  <ul id="nav-bar">
    <div id="nav-logo">
      <li><img src="/images/customLogoWhite.png" alt="site logo"
               style="height: 50px; width: 300px; margin-left: 10px"></li>
    </div>
    <div id="nav-links">
      <li><a href="/home">Home</a></li>
      <div th:if="${isLoggedIn != true}">
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      </div>
      <div th:if="${isLoggedIn == true}">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/confirm_logout">Logout</a></li>
      </div>
    </div>
    <div id="nav-buttons">
      <form action="" method="POST" th:action="@{/admin/addDrivers}">
        <li id="add">
          <button type="submit">Add Drivers</button>
        </li>
      </form>
      <form action="" method="POST" th:action="@{admin/updateDrivers}">
        <li id="update">
          <button type="submit">Update Drivers</button>
        </li>
      </form>
    </div>
  </ul>
</header>
<section id="background">

  <section id="admin-top" class="top-section">
    <div id="admin-logged">
    <h2><u>Admin</u></h2>
      <table class="league-table">
        <th><h3>Currently Logged-in:</h3></th>
        <tr>
          <td th:text="${activeUsers}"></td>
        </tr>
      </table>
    </div>
        <div id="admin-leagues">
      <ol>
        <h2>Created Leagues:</h2>
        <li th:each="league : ${leagues}" th:text="|League Name: ${league.leagueName}, ID: ${league.leagueId}, Num. of Players: ${league.teams.size()}|"></li>
      </ol>
    </div>
  </section>
  <section id="admin-users" class="left-table">
    <table class="league-table">
      <caption><h3>All Users:</h3></caption>
      <th>ID:</th>
      <th>User:</th>
      <th>League:</th>
      <th>Team:</th>
      <th>Points:</th>
      <th>Drivers:</th>
      <th>Last Logout:</th>
      <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.getAuthorities().iterator().next().getAuthority()==('ROLE_ADMIN')}
    ? ${user.username + ' (ADMIN) '}  : ${user.username}"></td>
        <td th:text="${user.team != null} ? ${user.team.league.leagueName}: 'No Team'"></td>
        <td th:text="${user.team != null} ? ${user.team.teamName}: 'No Team'"></td>
        <td th:text="${user.team != null} ? ${user.team.teamPoints}: 'N/A'"></td>
        <td th:text="${user.team != null} ? ${user.team.drivers}: 'No Team'"></td>
        <td th:text="${user.lastLogout}"></td>
      </tr>
    </table>
  </section>
  <section id="admin-drivers" class="right-table">
    <table class="league-table">
      <caption><h3>Driver Standings:</h3></caption>
      <th>Rank:</th>
      <th>Points:</th>
      <th>Name:</th>
      <th>Nationality:</th>
      <th>Car#:</th>
      <th>Constructor:</th>
      <tr th:each="driver : ${allDrivers}">
        <td>[[${driver.standing}]]</td>
        <td>[[${driver.points.intValue()}]]</td>
        <td>[[${driver.surname}]]</td>
        <td>[[${driver.nationality}]]</td>
        <td>[[${driver.carNumber}]]</td>
        <td>[[${driver.constructor}]]</td>
      </tr>
    </table>
  </section>
</section>
</body>
</html>