<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/css/general.css" rel="stylesheet" type="text/css"/>
  <title>Admin</title>
</head>
<body>
<header>
  <ul class="nav-bar">
    <li><img src="/images/F1Logo.png"></li>
    <li><a href="/home">Home</a></li>
    <div th:if="${isLoggedIn != true}">
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </div>
    <div th:if="${isLoggedIn == true}">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/confirm_logout">Logout</a></li>
<!--      fix buttons to work and appear correctly-->
      <form action="add">
      <li><button type="submit"></button>Add Drivers</li>
      </form>
      <form action="update">
      <li><button type="submit"></button>Update Drivers</li>
      </form>
    </div>
  </ul>
</header>
<section class="left-side">
<h1>Admin Page</h1>
  <h2>Currently logged-in users:</h2>
  <table class="user-table">
    <th>Username:</th>
    <tr th:each="activeUser : ${activeUsers}">
      <td th:text="${activeUser}">activeUser</td>
    </tr>
  </table>
</section>
<section class="center">
  <h2>All users:</h2>
  <table class="user-table">
    <th>ID:</th>
    <th>Username:</th>
    <th>Team:</th>
    <th>Last Logout:</th>
    <tr th:each="user : ${users}">
      <td th:text="${user.userId}"></td>
      <td th:text="${user.getAuthorities().iterator().next().getAuthority()==('ROLE_ADMIN')}
    ? ${user.username + ' (ADMIN) '}  : ${user.username}"></td>
      <td th:text="${user.team} ?: 'No Team'"></td>
      <td th:text="${user.lastLogout}"></td>
    </tr>
  </table>
</section>
<section class="right-side">
    <h2>Current Standings:</h2>
    <table class="user-table">
      <th>Position:</th>
      <th>Name:</th>
      <th>Points:</th>
      <th>Car Number:</th>
      <th>Nationality:</th>
      <tr th:each="driver : ${allDrivers}">
        <td>[[${driver.standing}]]</td>
        <td>[[${driver.surname}]]</td>
        <td>[[${driver.points.intValue()}]]</td>
        <td>[[${driver.carNumber}]]</td>
        <td>[[${driver.nationality}]]</td>
      </tr>
    </table>
</section>

</body>
</html>