<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/css/general.css" rel="stylesheet" type="text/css"/>
  <title>Standings</title>
</head>
<body>
<h1>Current Standings:</h1>

<!--Live update-->
<div>
  <h2>Current Standings</h2>
  <table class="user-table">
    <th>Position:</th>
    <th>Name:</th>
    <th>Points:</th>
    <th>Car Number:</th>
    <th>Nationality:</th>
    <tr th:each="driver : ${allDrivers}">
      <td>[[${driver.standing}]]</td>
      <td>[[${driver.surname}]]</td>
      <td>[[${driver.points.intValue()}]]</td>
      <td>[[${driver.carNumber}]]</td>
      <td>[[${driver.nationality}]]</td>
    </tr>
  </table>
</div>

<!--Hard Coded-->
<table class="champ-table" width="80%">
  <tbody>
  <tr>
<!--    <th colspan="0">Season: 2023 Round: 2</th>-->
    <th colspan="0">Season: 2023</th>
  </tr>
  <tr>
    <th colspan="0">Round: 2</th>
  </tr>
  <tr>
    <th colspan="0">Driver Standings</th>
  </tr>
  </tbody>
</table>
<table class="champ-table" width="80%">
  <tbody>
  <tr>
    <th>Pos</th>
    <th>Driver</th>
    <th>Constructor</th>
    <th>Points</th>
    <th>Wins</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Max Verstappen</td>
    <td>Red Bull</td>
    <td>44</td>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Sergio Pérez</td>
    <td>Red Bull</td>
    <td>43</td>
    <td>1</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Fernando Alonso</td>
    <td>Aston Martin</td>
    <td>30</td>
    <td>0</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Carlos Sainz</td>
    <td>Ferrari</td>
    <td>20</td>
    <td>0</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Lewis Hamilton</td>
    <td>Mercedes</td>
    <td>20</td>
    <td>0</td>
  </tr>
  <tr>
    <td>6</td>
    <td>George Russell</td>
    <td>Mercedes</td>
    <td>18</td>
    <td>0</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Lance Stroll</td>
    <td>Aston Martin</td>
    <td>8</td>
    <td>0</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Charles Leclerc</td>
    <td>Ferrari</td>
    <td>6</td>
    <td>0</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Valtteri Bottas</td>
    <td>Alfa Romeo</td>
    <td>4</td>
    <td>0</td>
  </tr>
  <tr>
    <td>10</td>
    <td>Esteban Ocon</td>
    <td>Alpine F1 Team</td>
    <td>4</td>
    <td>0</td>
  </tr>
  <tr>
    <td>11</td>
    <td>Pierre Gasly</td>
    <td>Alpine F1 Team</td>
    <td>4</td>
    <td>0</td>
  </tr>
  <tr>
    <td>12</td>
    <td>Kevin Magnussen</td>
    <td>Haas F1 Team</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>13</td>
    <td>Alexander Albon</td>
    <td>Williams</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>14</td>
    <td>Yuki Tsunoda</td>
    <td>AlphaTauri</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>15</td>
    <td>Nico Hülkenberg</td>
    <td>Haas F1 Team</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>16</td>
    <td>Logan Sargeant</td>
    <td>Williams</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>17</td>
    <td>Guanyu Zhou</td>
    <td>Alfa Romeo</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>18</td>
    <td>Nyck de Vries</td>
    <td>AlphaTauri</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>19</td>
    <td>Oscar Piastri</td>
    <td>McLaren</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>20</td>
    <td>Lando Norris</td>
    <td>McLaren</td>
    <td>0</td>
    <td>0</td>
  </tr>
  </tbody>
</table>

</body>
</html>