<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/css/general.css" rel="stylesheet" type="text/css"/>
  <title>Error</title>
</head>
<body>
<header>
  <ul class="nav-bar">
    <div id="nav-logo">
      <li><img src="/images/customLogoWhite.png" alt="site logo"
               style="height: 50px; width: 300px; margin-left: 10px"></li>
    </div>
    <div id="nav-links">
      <li><a href="/home">Home</a></li>
    </div>
  </ul>
</header>
<section id="background">
  Sorry, unexpected error!
  Please try again.
  <a href="/home">Go to Home</a>
  <a href="/dashboard">Go to Dashboard</a>
</section>

</body>
</html>