<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <link href="/css/general.css" rel="stylesheet" type="text/css"/>
  <title>Dashboard</title>
</head>
<body>
<header>
  <ul class="nav-bar">
    <li><img src="/images/F1Logo.png"></li>
    <li><a href="/home">Home</a></li>
    <div th:if="${isLoggedIn != true}">
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </div>
    <div th:if="${isAdmin == true}">
      <li><a href="/admin">Admin</a></li>
    </div>
    <div th:if="${isLoggedIn == true}">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/confirm_logout">Logout</a></li>
    </div>
  </ul>
</header>
<section class="left-side">
  <h2><u>Dashboard</u></h2>
  <h3 th:text="|Hello ${user.username}!|"></h3>
  <div th:if="${isAdmin == true}">
    <p th:text="|Sorry, admin cannot play.|"></p>
    <a href="/admin">Go to admin dashboard</a>
  </div>
  <div class="dash-text" th:if="${isAdmin != true}">
    <div th:if="${gameFull == true and user.team == null}">
      <p th:text="|Sorry, the game is currently full.|"></p>
      <p th:text="|Please check back later.|"></p>
    </div>

    <div class="dash-text" th:if="${user.team} != null">
      <p th:text="|Your team: '${user.team.teamName}'|"></p>
      <p th:text="|Random draft 1st pick number: ${user.team.firstPickNumber}|"></p>
      <p th:text="|Random draft 2nd pick number: ${user.team.secondPickNumber}|"></p>
      <p th:if="${teams.size() < 10}"> Draft can start when league is full.</p>
      <p th:if="${teams.size() == 10}"> Draft in progress, please wait for your turn to pick.</p>
    </div>
    <div class="dash-text" th:if="${gameFull} != true">
      <div th:unless="${user.team} != null">
        <p th:text="|This league is still open to join|"></p>
        <p th:text="|Once the league is full, the draft can begin|"></p>
        <p th:text="|Choose a team name below to get started...|"></p>
      </div>

      <!--      <fieldset class="dash-text" th:unless="${user.team} != null">-->
      <!--        <legend>Create Team</legend>-->
      <div class="dash-text" id="team-form" th:unless="${user.team} != null">
        <form action="" method="POST" th:action="@{/dashboard/{userId} (userId=${user.userId})}" th:object="${user}">
          <label for="teamName">Team Name:</label>
          <input required id="teamName" name="teamName" th:field="*{team.teamName}" type="text"
                 th:placeholder="|${user.username}'s F1 Team|"/>
          <div th:if="${param.error != null}">
            - Sorry, this team name is already taken.
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="center">
  <div>
    <h2>Players in this league:</h2>
    <p th:text="|${teams.size()} of 10 teams so far|"></p>
    <table class="user-table">
      <th>Username:</th>
      <th>Team Name:</th>
      <tr th:each="team : ${teams}">
        <td>[[${team.getUser().getUsername()}]]</td>
        <td>[[${team.getTeamName()}]]</td>
      </tr>
    </table>
  </div>
</section>
<section class="right-side">
  <form action="" method="POST" th:action="@{/dashboard/{userId}/draftPick (userId=${user.userId})}"
        th:object="${driver}">
    <div>
      <h2>Make Your Pick:</h2>
      <div>
        <button id="confirm-pick" type="submit">Confirm Pick</button>
        <p style="display:inline;">[[|${allDrivers.size()}/20 drivers remaining|]]</p>
      </div>
      <table class="champ-table">
        <th>Your Pick:</th>
        <th>Current Rank:</th>
        <th>Driver:</th>
        <th>Nationality:</th>
        <th>Car#:</th>
        <th>Team:</th>
        <tr th:each="driverInfo : ${allDrivers}">
          <td><input id="driver-pick" type="radio" th:field="*{driverId}" th:value="${driverInfo.driverId}"/>
            <label for="driver-pick" th:field="${driverInfo.driverId}" th:text="${driverInfo.driverId}"></label></td>
          <td th:text="${driverInfo.standing}"></td>
          <td th:text="${driverInfo.points.intValue()}"></td>
          <td th:text="${driverInfo.surname}"></td>
          <td th:text="${driverInfo.carNumber}"></td>
          <td th:text="${driverInfo.nationality}"></td>
        </tr>
      </table>
    </div>
  </form>
</section>


</body>
</html>