<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/css/general.css" rel="stylesheet" type="text/css"/>
  <title>Home</title>

</head>
<body>
<header>
  <ul class="nav-bar">
    <div id="nav-logo">
      <li><img src="/images/customLogoWhite.png" alt="site logo"
               style="height: 50px; width: 300px; margin-left: 10px"></li>
    </div>
    <div id="nav-links">
      <li><a href="/home">Home</a></li>
      <div th:if="${isLoggedIn != true}">
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      </div>
      <div th:if="${isAdmin == true}">
        <li><a href="/admin">Admin</a></li>
      </div>
      <div th:if="${isLoggedIn == true}">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/confirm_logout">Logout</a></li>
      </div>
    </div>
  </ul>
</header>
<section id="background">
<h1>Home</h1>
<div th:if="${isLoggedIn == true}">
  <h2 th:text="|Welcome ${user.getUsername()}!|"></h2>
</div>
<div th:if="${param.logout != null}">
  <h3>You have been logged out.</h3>
</div>
<div th:if="${isLoggedIn == true}">
  <h3><a href="/dashboard">Dashboard</a></h3>
</div>
<div th:if="${isLoggedIn != true}">
  <h3><a href="/login">Login</a></h3>
  -or-
  <h3><a href="/register">Create New Account</a></h3>
</div>

<section id="home-links" th:if="${isAdmin == true}">
  <h4><a href="/driverStandings">Current Driver Standings List</a></h4>
  <h4><a href="/driverStandingsJSON">Current Driver Standings JSON</a></h4>
</section>
</section>
</body>
</html>