<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/css/general.css" rel="stylesheet" type="text/css"/>
  <title>Home</title>
</head>
<body>
<header>
  <ul class="nav-bar">
    <li><img src="/images/F1Logo.png"></li>
    <li><a href="/home">Home</a></li>
    <div th:if="${isLoggedIn != true}">
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </div>
    <div th:if="${isLoggedIn == true}">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/confirm_logout">Logout</a></li>
    </div>
  </ul>
</header>

<h1>Home</h1>

<div th:if="${isLoggedIn == true}">
  <h2 th:text="|Welcome ${user.getUsername()}!|"></h2>
</div>
<div th:if="${param.logout != null}">
  <h3>You have been logged out.</h3>
</div>
<div th:if="${isLoggedIn == true}">
  <h3><a href="/dashboard">Dashboard</a></h3>
</div>
<div th:if="${isLoggedIn != true}">
  <h3><a href="/login">Login</a></h3>
  -or-
  <h3><a href="/register">Create New Account</a></h3>
</div>

<section id="home-links">
  <h4><a href="/driverStandings">Current Driver Standings List</a></h4>
  <h4><a href="/current_standings">Current Driver Standings Table</a></h4>
  <h4><a href="/driverStandingsJSON">Current Driver Standings JSON</a></h4>
</section>

</body>
</html>