<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <link href="/css/general.css" rel="stylesheet" th:href="@{/css/general.css}" type="text/css"/>
  <title>Test</title>
</head>
<body>
<header>
  <ul class="nav-bar">
    <li><img src="/images/F1Logo.png"></li>
    <li><a href="/home">Home</a></li>
    <div th:if="${isLoggedIn != true}">
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </div>
    <div th:if="${isAdmin == true}">
      <li><a href="/admin">Admin</a></li>
    </div>
    <div th:if="${isLoggedIn == true}">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/confirm_logout">Logout</a></li>
    </div>
  </ul>
</header>
<h1>Unsecured Test Page</h1>

<div>
<h2>Current Standings</h2>
  <table class="user-table">
    <th>Position:</th>
    <th>Points:</th>
    <th>Name:</th>
    <th>Car Number:</th>
    <th>Nationality:</th>
    <tr th:each="driver : ${allDrivers}">
      <td>[[${driver.standing}]]</td>
      <td>[[${driver.points.intValue()}]]</td>

      <td>[[${driver.surname}]]</td>
      <td>[[${driver.carNumber}]]</td>
      <td>[[${driver.nationality}]]</td>
    </tr>
  </table>
</div>
</body>
</html>