<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <link href="/css/general.css" rel="stylesheet" th:href="@{/css/general.css}" type="text/css"/>
  <title>Test</title>

  <!--  <style>-->
  <!--      .slant1 {-->
  <!--          font-weight: bold;-->
  <!--          -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(45deg, 0deg);-->
  <!--          -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(45deg, 0deg);-->
  <!--          -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(45deg, 0deg);-->
  <!--          -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(45deg, 0deg);-->
  <!--          transform: scale(1) rotate(0deg) translate(0px, 0px) skew(45deg, 0deg);-->
  <!--      }-->

  <!--      .slant2 {-->
  <!--          font-weight: bold;-->
  <!--          -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(36deg, 0deg);-->
  <!--          -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(36deg, 0deg);-->
  <!--          -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(36deg, 0deg);-->
  <!--          -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(36deg, 0deg);-->
  <!--          transform: scale(1) rotate(0deg) translate(0px, 0px) skew(36deg, 0deg);-->
  <!--      }-->
  <!--  </style>-->
</head>
<body>
<header>
  <ul class="nav-bar">
    <div id="nav-logo">
      <li><img src="/images/customLogoWhite.png" alt="site logo"
               style="height: 50px; width: 300px; margin-left: 10px"></li>
    </div>
    <div id="nav-links">
      <li><a href="/home">Home</a></li>
      <div th:if="${isLoggedIn != true}">
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      </div>
      <div th:if="${isAdmin == true}">
        <li><a href="/admin">Admin</a></li>
      </div>
      <div th:if="${isLoggedIn == true}">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/confirm_logout">Logout</a></li>
      </div>
    </div>
  </ul>
</header>
<section id="background">
<h1>Test Page</h1>
<!--<section style="margin-left: 100px">-->
<!--  <h1 class="slant1">Slipstream</h1>-->
<!--  <h4 class="slant1">F1 Draft Picks</h4>-->
<!--  <h1 class="slant2">Slipstream</h1>-->
<!--  <h4 class="slant2">F1 Draft Picks</h4>-->
<!--  <h1>Slipstream</h1>-->
<!--  <h4>F1 Draft Picks</h4>-->
<!--  <h1 style="font-style: oblique 30deg;">Slipstream</h1>-->
<!--  <h4 style="font-style: oblique 30deg;">F1 Draft Picks</h4>-->
<!--  <h1 style="font-style: oblique 45deg;">Slipstream</h1>-->
<!--  <h4 style="font-style: oblique 45deg;">F1 Draft Picks</h4>-->
<!--</section>-->

<!--<div>-->
<!--<h2>Current Standings</h2>-->
<!--  <table class="user-table">-->
<!--    <th>Position:</th>-->
<!--    <th>Points:</th>-->
<!--    <th>Name:</th>-->
<!--    <th>Car Number:</th>-->
<!--    <th>Nationality:</th>-->
<!--    <tr th:each="driver : ${allDrivers}">-->
<!--      <td>[[${driver.standing}]]</td>-->
<!--      <td>[[${driver.points.intValue()}]]</td>-->

<!--      <td>[[${driver.surname}]]</td>-->
<!--      <td>[[${driver.carNumber}]]</td>-->
<!--      <td>[[${driver.nationality}]]</td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
</section>
</body>
</html>